@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'amsterdam-four';
  src: url("./assets/font/Amsterdam.ttf");
}

@font-face {
  font-family: 'wondarQuason';
  src: url("./assets/font/WondarQuason.ttf");
}